.item .item__wrapper {
  display: flex;
  height: 100%;
}

.item .item__wrapper div {
  padding: 5px;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  min-width: 15%;
  max-width: 15%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.item .item__wrapper div {
  border-left: 1px solid black;
}

.scroll .item:first-child .item__wrapper div {
  border-top: 1px solid black;
}

.selection-area {
  background-color: aqua;
  opacity: 0.5;
}

.item_data.selected {
  background: pink;
}

.row_selected,
.cell_selected {
  margin: 5px;
}